@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <h2 style="color:red;text-align:center">@ViewBag.Message</h2>
}

<body>

    <!-- form section start -->
    <section class="w3l-hotair-form">
        <h1>الحصول على حسابك الشخصي</h1>
          <div class="container">
            <!-- /form -->
            <div class="workinghny-form-grid">
                <div class="main-hotair">
                  <div class="content-wthree">
                        <h2>خدمة اخلاء طرف</h2>
                        <form action="Varify" method="post">
                            <input type="text" class="text" name="UserName" placeholder="اسم المستخدم" required="" autofocus>
                            <input type="password" class="password" name="Password" placeholder="كلمة السر" required="" autofocus>
                            <button class="btn" type="submit">دخول</button>
                        </form>
                      </div>
                    <div class="w3l_form align-self">
                        <div class="left_grid_info">
                            <img src="~/images/3.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <!-- //form -->
            </div>
      
        <!-- //copyright-->
    </section>
    <!-- //form section start -->
</body>